  /* CSS */

body {
	background: white;
	font-family: 'coffeetea', Arial, sans-serif;
}

a:link {
	color: black;
}

a:hover {
	color: black;
	font-weight: bold;
}

a:focus {
	outline: none;
}


#background {
	position: fixed;
    top: 0px;
    left: 33%;
    width: 33%;
    height: 100%;
    background-color: #cccccc;
    z-index: -1;
}

#header {
	color: #ffbb00;
	background: #2d2d2d;
}

#headertitle {
	font-family: 'schoolbook', Arial, sans-serif;
	font-size: 48px;
	text-shadow: 5px 5px #2d2d2d;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.row {
	width: auto;
}

#navDiv {
	background-color: #cccccc;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	z-index: 2;

}

.nav-pills {
	padding-right: 0px;
	padding-left: 0px;
	font-size: 20px;
	font-weight: bold;
	background-color: #cccccc;
	color: black;
}

.nav-pills > li {
	float: none;
	text-align: center;
}

.nav-pills > li > a {
	border-radius: 0px;
	color: black;
}

.nav-pills > li.active > a {
	color: black;
	background-color: #ffbb00;
}

.nav-pills > li.active > a:hover {
	background-color: #474747;
	color: #ffbb00;
}

.nav-pills > li > a:hover {
	background-color: #474747;
	color: #ffbb00;
}

.dropdown-menu {
	font-size: 20px;
	background-color: #eeeeee;
}

.dropdown-menu > li > a:hover {
	background: #474747;
	color: #ffbb00;
}

.input-group {
	width: 100%;
	text-align: right;
}

.searchBox {
	display: block;
	width: 100%;
	margin-top: -8px;
	z-index: 1;
}

.navbar-form {
	width: 100%;
	padding: 0px;
}

.navbar-form .input-group .input-group-btn {
	width: 0px;
}

#searchButton {
	text-align: right;
	border: 1px solid #ce9800;
	background-image: none;
	background-color: #ffbb00;
	border-radius: 0px;
}

.form-control {
	background-color: #474747;
	border: 1px solid #474747;
	border-radius: 0px;
	height: 48px;
}

#searchButton.btn {
	font-size: 14px;
	margin-bottom: 2px;
	padding: 14px 20px;
}

.btn-default {
	text-shadow: 0px 0px 0 black;;
}

input.form-control {
	color: white;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
}

#separadorheader {
	z-index: 3;
	background: #2d2d2d;
	padding-top: 12px;
	margin-top: -12px;
	box-shadow: -5px 5px 20px #474747;

}

.img-thumbnail {
	display: block;
	margin: auto;
	width: auto;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: black;
	border-color: black;
	border-radius: 20px;
	padding: 2px;
	box-shadow: -5px 5px 20px #474747;
}

.h2, h2 {
	font-size: 26px;
	font-weight: bold;
}

#titlediv {
	height: 70px;
	text-align: center;
}

#authordiv {
	font-style: italic;
	text-align: center;
}

.h3, h3 {
	font-size: 24px;
}

#descriptiondiv {
	font-size: 15px;
	font-family: 'Abel';
	text-align: justify;
	height: 130px;
	overflow: hidden;
}

#lermaisdiv {
	font-family: 'coffeetea';
	font-size: 14px;
	text-decoration: underline;
	text-align: right;
	margin-top: 20px;
}

#likediv {
	height: 75px;
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}

.likebutton, .dislikebutton {
	margin: 0px 30px;
}

.glyphicon-thumbs-up {
	color: green;
	padding: 5px;
}

.glyphicon-thumbs-down {
	color: red;
	padding: 5px;
}

.btn-lg {
	font-size: 18px;
	border-radius: 50px;
	box-shadow: 2px 2px 8px #474747;
}

.btn.outline {
	background: #dddddd;
	padding: 6px 8px;
}

.btn-primary.outline {
	border: 4px solid #474747;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, 
.btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	background: #474747;
	color: #ffbb00;
	border-color: #ffbb00;
	outline: none;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #ffbb00;
	color: #ffbb00;
	box-shadow: none;
	outline: none;
}

#counterdiv {
	text-align: center;
}

.likecounter, .dislikecounter {
	text-align: center;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 33px;
	border-radius: 50px;
	box-shadow: 2px 2px 8px #474747;
}


#linksdiv {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 25px;
}

.wikipedia, .wook, .amazon, .ebay {
	color: black;
	text-decoration: underline;
	padding: 0px 20px;
	font-size: 14px;
}

#endplaceholder {
	height: 1345px;
	width: 100%;
	display: none;
}

#footer {
	border-top: 2px solid #1c1c1c;
	margin-top: 25px;
	padding-top: 6px;
	font-size: 10px;
	color: #ffbb00;
	background-color: #2d2d2d;
}

/* Web responsive design */

@media (max-width: 992px) {

	#header {
		padding: 2px 0px;
		text-align: center;

	}

	#nav {
		text-align: center;
}





}




